# =========================================
# SECRET & ENVIRONMENT
# =========================================
.env
.env*.local

# =========================================
# DEPENDENCIES
# =========================================
node_modules/

# =========================================
# PRISMA (client hasil generate)
# =========================================
generated/prisma/

# =========================================
# LOGS
# =========================================
*.log
npm-debug.log*
